<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>9</key>
	<dict>
		<key>latest</key>
		<dict>
			<key>手绘</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=9&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=a53cebe90e520d06090c6e2331d8e72a&amp;sort=latest&amp;tag=%E6%89%8B%E7%BB%98&amp;ts=1464328120</string>
			<key>板绘</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=9&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=e82df6bf0f12d4cda65b21eb965fb150&amp;sort=latest&amp;tag=%E6%9D%BF%E7%BB%98&amp;ts=1464328134</string>
			<key>素描</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=9&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=96f96f5f8c7cb7f82b49dddc27ff7a61&amp;sort=latest&amp;tag=%E7%B4%A0%E6%8F%8F&amp;ts=1464328178</string>
			<key>大触</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=9&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=282b3c769865668c0d695fe3749b9f01&amp;sort=latest&amp;tag=%E5%A4%A7%E8%A7%A6&amp;ts=1464328103</string>
			<key>全部</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=9&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=4b6c539b44a4fdd919bb28c42c665a3a&amp;sort=latest&amp;ts=1464327954</string>
			<key>钢笔画</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=9&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=584b994fe56314c4b52543269e1f54e7&amp;sort=latest&amp;tag=%E9%92%A2%E7%AC%94%E7%94%BB&amp;ts=1464328199</string>
			<key>绘画</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=9&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=6ed6259300b47959ae0c3f888cf83fcc&amp;sort=latest&amp;tag=%E7%BB%98%E7%94%BB&amp;ts=1464328085</string>
		</dict>
		<key>hottest</key>
		<dict>
			<key>手绘</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=9&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=3b8b5a204fe1ff28188ff17bca0e540f&amp;sort=hottest&amp;tag=%E6%89%8B%E7%BB%98&amp;ts=1464327422</string>
			<key>板绘</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=9&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=fcbd56a5bd330c97eb0a0c8e5bd21ff8&amp;sort=hottest&amp;tag=%E6%9D%BF%E7%BB%98&amp;ts=1464327443</string>
			<key>素描</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=9&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=bb43b5ad4764efde980adbb11d468158&amp;sort=hottest&amp;tag=%E7%B4%A0%E6%8F%8F&amp;ts=1464327456</string>
			<key>大触</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=9&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=0ccfa61703ff0d9dbc1cc1194ff5be78&amp;sort=hottest&amp;tag=%E5%A4%A7%E8%A7%A6&amp;ts=1464285803</string>
			<key>全部</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=9&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=98ea699df2a00eb50b7760d372805009&amp;sort=hottest&amp;ts=1464285137</string>
			<key>钢笔画</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=9&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=bb625726a0a6886097ca06658f5654ae&amp;sort=hottest&amp;tag=%E9%92%A2%E7%AC%94%E7%94%BB&amp;ts=1464327471</string>
			<key>绘画</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=9&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=1918e58edd3692bbdb8693d977ff2e66&amp;sort=hottest&amp;tag=%E7%BB%98%E7%94%BB&amp;ts=1464285457</string>
		</dict>
	</dict>
	<key>8</key>
	<dict>
		<key>latest</key>
		<dict>
			<key>全部</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=8&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=924f3669eca103b6aedd08ee17fd38bd&amp;sort=latest&amp;ts=1464329625</string>
		</dict>
		<key>hottest</key>
		<dict>
			<key>全部</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=8&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=0564b29c3e3790ccaeb075773f55868a&amp;sort=hottest&amp;ts=1464329603</string>
		</dict>
	</dict>
	<key>3</key>
	<dict>
		<key>latest</key>
		<dict>
			<key>守望先锋</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=eb1fd2f8546011e39263dc685b560df9&amp;sort=latest&amp;tag=%E5%AE%88%E6%9C%9B%E5%85%88%E9%94%8B&amp;ts=1464329938</string>
			<key>炉石传说</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=75f8c3067eee27926ff24dd5a48033cc&amp;sort=latest&amp;tag=%E7%82%89%E7%9F%B3%E4%BC%A0%E8%AF%B4&amp;ts=1464329953</string>
			<key>三国杀</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=cad0f5255758668a670e32e634cae0f5&amp;sort=latest&amp;tag=%E4%B8%89%E5%9B%BD%E6%9D%80&amp;ts=1464329969</string>
			<key>坦克世界</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=740c27b489725380c4e7cd7682638677&amp;sort=latest&amp;tag=%E5%9D%A6%E5%85%8B%E4%B8%96%E7%95%8C&amp;ts=1464329991</string>
			<key>全部</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=fb52a0cc62241ece2a1c933fa84575ea&amp;sort=latest&amp;ts=1464329920</string>
			<key>剑网3</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=c75fa7483adedad41006408a1687aab7&amp;sort=latest&amp;tag=%E5%89%91%E7%BD%913&amp;ts=1464330015</string>
			<key>战舰世界</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=4c62a118e51a64d32063c74710b4cc2f&amp;sort=latest&amp;tag=%E6%88%98%E8%88%B0%E4%B8%96%E7%95%8C&amp;ts=1464330033</string>
			<key>最终幻想14</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=7c4466bdcb5a180ea6c10ebb358ec156&amp;sort=latest&amp;tag=%E6%9C%80%E7%BB%88%E5%B9%BB%E6%83%B314&amp;ts=1464330052
</string>
			<key>DNF</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=85afa5d7d677024988448df1a95aab08&amp;sort=latest&amp;tag=DNF&amp;ts=1464330066
</string>
		</dict>
		<key>hottest</key>
		<dict>
			<key>守望先锋</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=b56e9a8046c84d5c0e45348106293d28&amp;sort=hottest&amp;tag=%E5%AE%88%E6%9C%9B%E5%85%88%E9%94%8B&amp;ts=1464329710</string>
			<key>炉石传说</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=e71ee1f8985ef8be53657223dcf3c749&amp;sort=hottest&amp;tag=%E7%82%89%E7%9F%B3%E4%BC%A0%E8%AF%B4&amp;ts=1464329744</string>
			<key>三国杀</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=182d4d7603bb269acb2c0aa8e3d7ddf4&amp;sort=hottest&amp;tag=%E4%B8%89%E5%9B%BD%E6%9D%80&amp;ts=1464329765</string>
			<key>坦克世界</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=3be60941bb84d4b31c8d7c19a886ed97&amp;sort=hottest&amp;tag=%E5%9D%A6%E5%85%8B%E4%B8%96%E7%95%8C&amp;ts=1464329782</string>
			<key>全部</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=78f65750af39b05bc4dcff23866f642d&amp;sort=hottest&amp;ts=1464329662</string>
			<key>剑网3</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=262a1974f735679b6314b746ffc5e4c9&amp;sort=hottest&amp;tag=%E5%89%91%E7%BD%913&amp;ts=1464329799
</string>
			<key>战舰世界</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=3deccad40d0a89b0a7b9ecdcaf2381c6&amp;sort=hottest&amp;tag=%E6%88%98%E8%88%B0%E4%B8%96%E7%95%8C&amp;ts=1464329822</string>
			<key>最终幻想14</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=78b666724edeea577b9cdc472b95c5d6&amp;sort=hottest&amp;tag=%E6%9C%80%E7%BB%88%E5%B9%BB%E6%83%B314&amp;ts=1464329846</string>
			<key>DNF</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=3&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=e3b165f3e637a7ef4b5d2db734946101&amp;sort=hottest&amp;tag=DNF&amp;ts=1464329867</string>
		</dict>
	</dict>
	<key>1</key>
	<dict>
		<key>hottest</key>
		<dict>
			<key>全部</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=1&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=7d7c34e48b5498e1a1f7497cbadfb100&amp;sort=hottest&amp;ts=1464421072</string>
			<key>全境封锁</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=1&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=7da2a78eb646daf5816573d0da2b560e&amp;sort=hottest&amp;tag=%E5%85%A8%E5%A2%83%E5%B0%81%E9%94%81&amp;ts=1464421095</string>
			<key>minecraft</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=1&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=c1b4672c83ac451401fb7d0aef8ef59c&amp;sort=hottest&amp;tag=minecraft&amp;ts=1464421111</string>
			<key>以撒</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=1&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=ae014d61c33ad40c6945b00f504cdf32&amp;sort=hottest&amp;tag=%E4%BB%A5%E6%92%92&amp;ts=1464421123</string>
			<key>东方</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=1&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=8dd6f6cd2abb5e76fbccb1f458ec5898&amp;sort=hottest&amp;tag=%E4%B8%9C%E6%96%B9&amp;ts=1464421140</string>
			<key>H1Z1</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=1&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=a4e3bd1fc8ae47ed886ad1df9a9372dc&amp;sort=hottest&amp;tag=H1Z1&amp;ts=1464421154</string>
			<key>L4D2</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=1&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=2f8668b1205557bc15e1ca68cacd2f3c&amp;sort=hottest&amp;tag=L4D2&amp;ts=1464421165</string>
		</dict>
		<key>latest</key>
		<dict>
			<key>全部</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=1&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=d796b0e754b4a51ce2fff06dd4e50197&amp;sort=latest&amp;ts=1464421963</string>
			<key>全境封锁</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=1&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=5f98e32773aa06f496099cc272aad33f&amp;sort=latest&amp;tag=%E5%85%A8%E5%A2%83%E5%B0%81%E9%94%81&amp;ts=1464421947</string>
			<key>minecraft</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=1&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=c35f32caa11c49bf77279ff51f360413&amp;sort=latest&amp;tag=minecraft&amp;ts=1464421441</string>
			<key>以撒</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=1&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=68381a84428e793b80da6f3619a2cbd0&amp;sort=latest&amp;tag=%E4%BB%A5%E6%92%92&amp;ts=1464421340</string>
			<key>东方</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=1&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=f5e60431fb371dc43d8bbf4b84e09832&amp;sort=latest&amp;tag=%E4%B8%9C%E6%96%B9&amp;ts=1464421320</string>
			<key>H1Z1</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=1&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=84f341f1f3c8a56a9c292b0f836415e1&amp;sort=latest&amp;tag=H1Z1&amp;ts=1464421242</string>
			<key>L4D2</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=1&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=8526c87bfdf1ec1faa6f31b30626b20d&amp;sort=latest&amp;tag=L4D2&amp;ts=1464421188</string>
		</dict>
	</dict>
	<key>4</key>
	<dict>
		<key>hottest</key>
		<dict>
			<key>全部</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=4&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=77510b7d92c1671d376e00490e4051f8&amp;sort=hottest&amp;ts=1464421982</string>
			<key>英雄联盟</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=4&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=f00a2e9a36df86886dbad73f38fde0d4&amp;sort=hottest&amp;tag=%E8%8B%B1%E9%9B%84%E8%81%94%E7%9B%9F&amp;ts=1464422105</string>
			<key>DOTA2</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=4&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=5cd96bf56b8c4580e6223f0d85f97038&amp;sort=hottest&amp;tag=DOTA2&amp;ts=1464422118</string>
			<key>星际争霸2</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=4&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=05647f3c16a530d4782ed39b13477816&amp;sort=hottest&amp;tag=%E6%98%9F%E9%99%85%E4%BA%89%E9%9C%B82&amp;ts=1464422132</string>
			<key>CSGO</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=4&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=77703d4e1f4f5d712a5dfb12918b0a01&amp;sort=hottest&amp;tag=CSGO&amp;ts=1464422143</string>
			<key>风暴英雄</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=4&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=20a45df61b5438ab5b0ac6396ef3847b&amp;sort=hottest&amp;tag=%E9%A3%8E%E6%9A%B4%E8%8B%B1%E9%9B%84&amp;ts=1464422153</string>
			<key>CF</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=4&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=01eb6c571d4859e92f450e82950a57d6&amp;sort=hottest&amp;tag=CF&amp;ts=1464422164</string>
			<key>神之浩劫</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=4&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=9c57493da6b60a38bafeebb4b5a2e6a4&amp;sort=hottest&amp;tag=%E7%A5%9E%E4%B9%8B%E6%B5%A9%E5%8A%AB&amp;ts=1464422176</string>
		</dict>
		<key>latest</key>
		<dict>
			<key>全部</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=4&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=d127bfb494cc92dc05a82e78841ed1c0&amp;sort=latest&amp;ts=1464422767</string>
			<key>英雄联盟</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=4&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=03081453734ce868fe82a351e672921e&amp;sort=latest&amp;tag=%E8%8B%B1%E9%9B%84%E8%81%94%E7%9B%9F&amp;ts=1464422803</string>
			<key>DOTA2</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=4&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=e4a5e3c7910b7a1a8c54096d232844c7&amp;sort=latest&amp;tag=DOTA2&amp;ts=1464422821</string>
			<key>星际争霸2</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=4&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=e53920ec145175db467e00a22c7e4e02&amp;sort=latest&amp;tag=%E6%98%9F%E9%99%85%E4%BA%89%E9%9C%B82&amp;ts=1464422840</string>
			<key>CSGO</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=4&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=210554d0ae56688ff228ef0b2bdd2744&amp;sort=latest&amp;tag=CSGO&amp;ts=1464422852</string>
			<key>风暴英雄</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=4&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=9ebf8f094020e45d7f8ecf714a69ec7a&amp;sort=latest&amp;tag=%E9%A3%8E%E6%9A%B4%E8%8B%B1%E9%9B%84&amp;ts=1464422869</string>
			<key>CF</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=4&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=61125fbf95b4de5f25b549ab819be6dd&amp;sort=latest&amp;tag=CF&amp;ts=1464422885</string>
			<key>神之浩劫</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=4&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=58b8177e57db57ecb9ab33737228cbc9&amp;sort=latest&amp;tag=%E7%A5%9E%E4%B9%8B%E6%B5%A9%E5%8A%AB&amp;ts=1464422902</string>
		</dict>
	</dict>
	<key>11</key>
	<dict>
		<key>hottest</key>
		<dict>
			<key>全部</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=11&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=1119a67ef5e093254af4c3eca86ddec7&amp;sort=hottest&amp;ts=1464422994</string>
			<key>个人自拍</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=11&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=6b0ad8a4c29c0704ad6ed67650fb446a&amp;sort=hottest&amp;tag=%E4%B8%AA%E4%BA%BA%E8%87%AA%E6%8B%8D&amp;ts=1464423003</string>
			<key>户外直播</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=11&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=dc18a41126d34de1b030018e32ad3962&amp;sort=hottest&amp;tag=%E6%88%B7%E5%A4%96%E7%9B%B4%E6%92%AD&amp;ts=1464423013</string>
			<key>手机直播</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=11&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=841377fc4ebe970f12f4e54039824b5c&amp;sort=hottest&amp;tag=%E6%89%8B%E6%9C%BA%E7%9B%B4%E6%92%AD&amp;ts=1464423021</string>
		</dict>
		<key>latest</key>
		<dict>
			<key>全部</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=11&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=97556d14b90839f068e1b29b7f696461&amp;sort=latest&amp;ts=1464423055</string>
			<key>个人自拍</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=11&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=9d8d941cd50098d063a3e30f62b4850e&amp;sort=latest&amp;tag=%E4%B8%AA%E4%BA%BA%E8%87%AA%E6%8B%8D&amp;ts=1464423068</string>
			<key>户外直播</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=11&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=9993f336b70b4e3c73efabc2a1a78731&amp;sort=latest&amp;tag=%E6%88%B7%E5%A4%96%E7%9B%B4%E6%92%AD&amp;ts=1464423084</string>
			<key>手机直播</key>
			<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=11&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=cc97488c0238cbcdc734a6ffdd0dae59&amp;sort=latest&amp;tag=%E6%89%8B%E6%9C%BA%E7%9B%B4%E6%92%AD&amp;ts=1464423039</string>
		</dict>
	</dict>
	<key>0</key>
	<dict>
		<key>hottest</key>
		<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=0&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=ee418c089fc55c014e6ca0cb226c4cb5&amp;sort=hottest&amp;ts=1464423122</string>
		<key>latest</key>
		<string>http://live.bilibili.com/mobile/rooms?access_key=aa769b7fbfadf8a43d209a567792b1f7&amp;actionKey=appkey&amp;appkey=27eb53fc9058f8c3&amp;area_id=0&amp;build=3220&amp;device=phone&amp;page=1&amp;platform=ios&amp;sign=692b96a0ba5d981c44a03349946dd859&amp;sort=latest&amp;ts=1464423141</string>
	</dict>
</dict>
</plist>
