<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>url</key>
			<string></string>
			<key>pic</key>
			<string>hd_home_subregion_live</string>
			<key>name</key>
			<string>直播</string>
			<key>ID</key>
			<string>1</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>pic</key>
			<string>hd_home_region_icon_13</string>
			<key>name</key>
			<string>番剧</string>
			<key>ID</key>
			<string>2</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>pic</key>
			<string>hd_home_region_icon_1</string>
			<key>name</key>
			<string>动画</string>
			<key>ID</key>
			<string>3</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>pic</key>
			<string>hd_home_region_icon_3</string>
			<key>name</key>
			<string>音乐</string>
			<key>ID</key>
			<string>4</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>pic</key>
			<string>hd_home_region_icon_129</string>
			<key>name</key>
			<string>舞蹈</string>
			<key>ID</key>
			<string>5</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>pic</key>
			<string>hd_home_region_icon_4</string>
			<key>name</key>
			<string>游戏</string>
			<key>ID</key>
			<string>6</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>pic</key>
			<string>hd_home_region_icon_36</string>
			<key>name</key>
			<string>科技</string>
			<key>ID</key>
			<string>7</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>pic</key>
			<string>hd_home_region_icon_5</string>
			<key>name</key>
			<string>娱乐</string>
			<key>ID</key>
			<string>8</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>pic</key>
			<string>hd_home_region_icon_119</string>
			<key>name</key>
			<string>鬼畜</string>
			<key>ID</key>
			<string>9</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>pic</key>
			<string>hd_home_region_icon_23</string>
			<key>name</key>
			<string>电影</string>
			<key>ID</key>
			<string>10</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>pic</key>
			<string>hd_home_region_icon_11</string>
			<key>name</key>
			<string>电视剧</string>
			<key>ID</key>
			<string>11</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>pic</key>
			<string>hd_home_region_icon_155</string>
			<key>name</key>
			<string>时尚</string>
			<key>ID</key>
			<string>12</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>pic</key>
			<string>hd_home_region_gamecenter</string>
			<key>name</key>
			<string>游戏中心</string>
			<key>ID</key>
			<string>13</string>
		</dict>
	</array>
</dict>
</plist>
